<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Costa Rica Travel | Partner Type</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-1">
            <a th:href="@{/partner-type}"><i class="fas fa-chevron-left fa-2x"></i></a>
        </div>
        <div class="col-11">
            <h1>Create partner type</h1>
        </div>
    </div>

    <form name="partner_type1" method="post" enctype="multipart/form-data">
        <div id="partner_type1">
            <div class="form-group">
                <label for="partner_type1_name" class="form-control-label required">Name</label>
                <input type="text" id="partner_type1_name" name="partner_type1[name]" required="required" class="form-control" />
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" id="partner_type1_imageFile" name="partner_type1[imageFile]" class="custom-file-input" />
                    <label for="partner_type1_imageFile" class="custom-file-label">Image file</label>
                </div>
            </div>
            <div class="form-group">
                <label for="partner_type1_country" class="form-control-label required">Country</label>
                <input type="text" id="partner_type1_country" name="partner_type1[country]" required="required" class="form-control" />
            </div>
        </div>
        <button class="btn btn-success">Save</button>
    </form>

</div>
</body>
</html>