<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Costa Rica Travel | Partner Request</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-1">
            <a th:href="@{/partner-request}"><i class="fas fa-chevron-left fa-2x"></i></a>
        </div>
        <div class="col-11">
            <h1>Create partner request</h1>
        </div>
    </div>

    <form name="partner_request" method="post">
        <div id="partner_request">
            <div class="form-group">
                <label for="partner_request_email" class="form-control-label required">Email</label>
                <input type="email" id="partner_request_email" name="partner_request[email]" required="required" class="form-control" />
            </div>
            <div class="form-group">
                <label for="partner_request_name" class="form-control-label required">Name</label>
                <input type="text" id="partner_request_name" name="partner_request[name]" required="required" class="form-control" />
            </div>
            <div class="form-group">
                <label for="partner_request_phone" class="form-control-label required">Phone</label>
                <input type="text" id="partner_request_phone" name="partner_request[phone]" required="required" class="form-control" />
            </div>
        </div>
        <button class="btn btn-success">Save</button>
    </form>

</div>
</body>
</html>