<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Costa Rica Travel | Partner requests</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Partner requests</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>Phone</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requests}">
            <td th:text="${request.id}"></td>
            <td th:text="${request.email}"></td>
            <td th:text="${request.name}"></td>
            <td th:text="${request.phone}"></td>
            <td>/</td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/partner-request/create}" class="btn btn-outline-success">Create</a>

</div>

</body>
</html>