<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Costa Rica Travel | Partners</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Partners</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="partner : ${partners}">
            <td th:text="${partner.id}"></td>
            <td th:text="${partner.name}"></td>
            <td th:text="${partner.email}"></td>
            <td th:text="${partner.phone}"></td>
            <td th:text="${partner.country}"></td>
            <td><a th:href="@{/partner/__${partner.id}__}">P</a></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/partner/create}" class="btn btn-outline-success">Create</a>

</div>
</body>
</html>