<!-- HEADER -->
<header xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a class="no-decor" href="/">CRTravel</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" th:href="@{/location}">Locations</a>
            <a class="p-2 text-dark" th:href="@{/partner-request}">Requests</a>
            <a class="p-2 text-dark" th:href="@{/partner/}">Partners</a>
            <a class="p-2 text-dark" th:href="@{/partner-type}">Partners Types</a>
        </nav>
        <span>&nbsp;</span>
        <a type="button" class="btn btn-outline-primary" href="#">Log in</a>
        <span>&nbsp;</span>
        <a type="button" class="btn btn-outline-primary" href="#">Register</a>
        <span>&nbsp;</span>
    </div>
</header>