<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Costa Rica Travel | Location</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-1">
            <a th:href="@{/location}"><i class="fas fa-chevron-left fa-2x"></i></a>
        </div>
        <div class="col-11">
            <h1>Create location</h1>
        </div>
    </div>

    <form name="location" method="post">
        <div id="location">
            <div class="form-group">
                <label for="location_name" class="form-control-label required">Name</label>
                <input type="text" id="location_name" name="location[name]" required="required" class="form-control" />
            </div>
        </div>
        <button class="btn btn-success">Save</button>
    </form>
</div>
</body>
</html>